
body {
  background: url(../images/nasty_fabric.png) #ddd;
}

.wrapper {
  width: 600px;
  margin: 20px auto 0 auto;
}

.container {
  width: 100%;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px 1px #bbb;
  min-height: 500px;
  background-color: #fafafe;
}

